body{
    margin: 0;
    background: linear-gradient(to bottom, #ff9900, #ff66cc);
}
#navigation{
   
    height:70px;
    width:100%;
}
#searchInput{
    position: absolute;
    margin-top: 15px;
    margin-left: 35%;
    width: 300px; /* Adjust the width as needed */
    height: 30px;
    
    padding: 5px;
}

#sortPriceButtons{
    position: absolute;
    margin-left:70%;
    margin-top: -5%;
}
#sortSubButtons{
    position: absolute;
    margin-top: -3%;
    margin-left: 71.4%;
}

#sortLocationButtons{
    position: absolute;
    margin-top: -1%;
    margin-left: 71.2%;

}

/* #welcomeContainer {
    grid-column: 1 / span 5; 
    text-align: center; 
    margin-bottom: 10px; 
  } */
#welcomeText{
    font-size: 50px;
    margin-left: 3%;
    text-align: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    /* background: linear-gradient(to bottom, #ff9900, #ff66cc);
    color: transparent; */
    
}

#logo{
    height:200px;
    width: 9%;
    margin-left:1%;
    margin-top: -4.5%;
    
}
/* lesson 1 card */
#lessonPic{
    height: 40%;
    width: 40%;
    margin-left:-160px;
    margin-top: 50px;
    
}

#lessonContent{
    margin-left: 50%;
    margin-top:-40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* #lessonCard{
    border:1px solid black;
    width: 20%;
    height: 30%;
    margin-left: 5%;
    background-color: #e6edbe;
    
} */

#addtocartButton{
    margin-left:-83%; 
    margin-top:-5px;
    height: 25%;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #9692f7;
}
#disabledAddToCartButton{
    margin-left:-83%; 
    margin-top:-5px;
    height: 25%;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #9692f7;
    margin-bottom: 60px;

}

#checkOutButton{
    position: absolute;
    margin-top:-18.5%;
    margin-left: 90%;
    height: 8%;
    width: 6%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #9692f7;

}
/* #app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  } */
  /* #app {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    grid-gap: 10px; 
  } */

  #lessonsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Change 5 to the number of desired columns */
    gap: 20px;
    justify-content: center;
  }

  #lessonCard {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    height: 350px; 
    background-color: #e6edbe;
    /* display:flex;
    flex-direction: column; */
  }
  /* #lessonCard figure{
    flex:1;
  } */



/* lesson 2 card */
/* #lesson2Pic{
    height: 40%;
    width: 40%;
    margin-left:-10%;
    margin-top: 3%;
}

#lesson2Content{
    margin-left: 50%;
    margin-top:-31%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#lesson2Card{
    border:1px solid black;
    width: 20%;
    height: 30%;
    margin-left: 30%;
    margin-top:-14%;
    background-color: #e6edbe;
} */

#footer{
    position: absolute;
    /* margin-left: 50%; */
    background-color: #110d78;
    color: white;
    font-size: larger;
    width: 100%;
}