<!DOCTYPE html>
<html>
  <head>
    <title>After School</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="../Coursework1/afterSchool.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
  </head>
  <body>
    <div id="navigation" style="background-color: #110d78; ">
        <!-- <div id="homeButton">HOME</div>
        <div id="lessonsButton">LESSONS</div> -->
       
      <a href="afterSchool.html"><img id="logo" src="../Coursework1/images/cw1logo.png"></a>
      <p style="position: absolute;margin-top: -110px;margin-left: 40%; color: white; font-family: Arial, Helvetica, sans-serif;">Search:</p><input id="searchInput" type="text" placeholder="Search lessons...">
      <button id="searchButton" style="position:absolute;margin-top: 25px; margin-left:57%;">Search</button>
    </div>
    <div id="app">
      <h3 id="welcomeText">Welcome! Buy any lesson you want and pursue your studies <em>AfterSchool</em></h3>
      <div v-if="showLesson">
        
      <div id="sortPriceButtons">
        <button v-on:click="sortByPrice('ascending')">Sort by Price (Low to High)</button>
        <button v-on:click="sortByPrice('descending')">Sort by Price (High to Low)</button>
      </div>
      <div id="sortSubButtons">
        <button id="sortSubButton" v-on:click="sortAlphabetically('ascending')">Sort by Subject (A to Z)</button>
        <button id="sortSubButton" v-on:click="sortAlphabetically('descending')">Sort by Subject (Z to A)</button>
      </div>
      <div id="sortLocationButtons">
        <button id="sortLocButtons" v-on:click="sortLocationAlphabetically('ascending')">Sort by Location (A to Z)</button>
        <button id="sortLocButtons" v-on:click="sortLocationAlphabetically('descending')">Sort by Location (Z to A)</button>
      </div>
      
      
    </div>
      <header>
        <button id="checkOutButton" v-on:click="showCheckout" :disabled="cart.length===0">
          {{cartItemCount}}
          <span class="fas fa-cart-plus">Checkout</span>
      </button>
        
      </header>
     
      <div v-if="showLesson" id="lessonsGrid">
      <!-- <div id="lessonsPageContent" v-for="lesson in lessons" :key="lesson.id"> -->
        <div id="lessonCard" v-for="lesson in lessons" :key="lesson.id">
          <figure>
            <img id="lessonPic" v-bind:src="lesson.image">
          </figure>
          <main id="lessonContent">
            <p>Subject: {{ lesson.subject }}</p>
            <p>Location: {{ lesson.location }}</p>
            <p>Price (Pounds): {{ lesson.price }}</p>
            <p>Spaces: {{lesson.spaces-lesson.cartItemCount }}</p>
            <button style="margin-bottom: 60px;" id="addtocartButton" v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)">Add to Cart</button>
            <button id="disabledAddToCartButton" disabled="disabled" v-else>Sold <br> Out</button>
          </main>
        </div>
      <!-- </div> -->
      </div>

      <div v-else>
        <h2 id="checkOutHeading">Checkout</h2>
        <table id="checkoutTable">
          <thead>
            <tr>
              <th>Lesson</th>
              <th>Subject</th>
              <th>Location</th>
              <th>Price</th>
              <th>Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in cartItems" :key="item.id">
              <td style="width:10%;"><img :src="item.image"></td>
              <td>{{item.subject}}</td>
              <td>{{item.location}}</td>
              <td>{{item.price}}</td>
              <td>{{item.spaces-item.cartItemCount}} left</td>
              <td><button v-on:click="removeLessonFromCart(item)">Remove</button></td>
              
            </tr>
          </tbody>
        </table>
        <h3 style="margin-left:65%; font-family: Arial, Helvetica, sans-serif;">Total Price (Pounds): {{cartTotalPrice}}</h3>

        <!--customer credentials-->
        <h3 id="credentialHeading">Please enter your credentials</h3>
        <div id="credentialBox">
          <div id="BothCredentials">
        <div id="nameCredential">
          <strong>Name:</strong>
          <input v-model.trim="order.name">
        </div>
        <div id="phoneCredential">
          <strong>Phone No.:</strong>
          <input v-model.trim="order.phone">
        </div>
        </div>
        </div>
        
        <h2 id="orderInfoHeading">Order Information</h2>
        <div id="orderInfoBox">
          <div id="orderInfoDetails">
            <strong>Name (autofilled): </strong><p>{{order.name}}</p>
            <strong>Phone Number (autofilled): </strong><p>{{order.phone}}</p>
          </div>
        </div>
        <br>
        <p style="font-size: small;font-family: Arial, Helvetica, sans-serif; text-align: center; margin-left: 50%;">Make sure to enter the valid form<br>of credentials to place order</p>
        <button id="PlaceOrderButton" v-on:click="submitForm" :disabled="!credentialsValidation">Place Order</button>

      </div>

    </div>
    <div id="footer">
      <p style="margin-left: 45%;">Web page made by Krish Kalvani</p>
    </div>
    <script src="../Coursework1/lessons.js"></script>
  </body>
</html>
