body{
    margin: 0;
}
#navigation{
    height:10%;
    width:100%;
    
    
}

#logo{
    height:250%;
    width: 12%;
    margin-left:45%;
    margin-top: -3.5%;
    
}
/* lesson 1 card */
#lesson1Pic{
    height: 40%;
    width: 40%;
    margin-left:-5%;
    margin-top: 3%;
}

#lesson1Content{
    margin-left: 50%;
    margin-top:-31%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#lesson1Card{
    border:1px solid black;
    width: 20%;
    height: 30%;
    margin-left: 5%;
    background-color: #e6edbe;
}

#addtocartButton{
    margin-left:-83%; 
    margin-top:-30%;
    height: 25%;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #9692f7;
}

/* lesson 2 card */
#lesson2Pic{
    height: 40%;
    width: 40%;
    margin-left:-10%;
    margin-top: 3%;
}

#lesson2Content{
    margin-left: 50%;
    margin-top:-31%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#lesson2Card{
    border:1px solid black;
    width: 20%;
    height: 30%;
    margin-left: 30%;
    margin-top:-14%;
    background-color: #e6edbe;
}